.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  padding-right: 40px;
  color: white;
}

.signin {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 90%;
}

.input {
  margin: 10px 0;
}

.forgot {
  display: flex;
  justify-content: space-between;
}
